<div class="container d-flex justify-content-center" id="home_image">
  <div class="container-text">
    <h1>Your Lists</h1>
  </div>
</div>

<div class="container">
  <% @lists.each do |list| %>
    <div class="card">
      <%= link_to list.name, "lists/#{list.id}" %>
    </div>
  <% end %>

  <%= link_to 'Create a movie list', 'lists/new', class: "btn btn-primary" %>
</div>
