<nav class="navbar navbar-default navbar-fixed-top" id="app-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-film"></i> My Watch List</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navbar-brand" href="/">My Lists</a></li>
      <li>
        <a class="navbar-brand" href="lists/new">New List</a></li>
    </ul>
  </div>
</nav>
